//////////////////////////////////////////////////
// Colors
//////////////////////////////////////////////////

// Basics
$white: #ddd;
$black: #000;

// EFN colors
$bg: #d3b68f;
$text: #8a5d3e;
$bold: #5a3d1e;
$subdued: darken($bg, 20%);
