//////////////////////////////////////////////////
// Colors
//////////////////////////////////////////////////

// Basics
$white: #fff;
$black: #000;

// EFN colors.
$blue-dark: #041425;
$subdued: #2C5979;
