//////////////////////////////////////////////////
// Typography
//////////////////////////////////////////////////

// Import graffiti font
@font-face {
  font-family: 'amsterdam';
  src: font-url('amsterdam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Set size and default spacing
body {
  color: $white;
  font-size: $base-font;
  font-weight: 200;
  line-height: 1.36;

  @include breakpoint($big) {
    font-size: $base-font + 2;
  }
}

// Emphasized text
em,
strong {
  // True white, don't use $white variable!
  color: #fff;
}

// Headings
h1,
h2 {
  font-family: 'amsterdam';
  font-weight: 400;
  margin: .5em 0;
  line-height: 0.7;

  // Never let the band name wrap
  em {
    white-space: nowrap;
    color: inherit; // override default color for emphasized text.
  }
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

// Lists
ul,
ol {
  margin: 0;
  padding: 0;

  li {
    margin-bottom: .5em;
  }
}

// Links
%link {
  color: $white;
  font-weight: 100;
  text-decoration: none;
  border-bottom: dotted 1px rgba($white, .5);
  transition: $x-standard;

  &:hover {
    border-color: rgba($white, 1);
  }
}
