//////////////////////////////////////////////////
// Footer
//////////////////////////////////////////////////

footer {
  max-width: $grid-max;
  margin: 0 auto;
  padding: $base-gutter;

  .copyright {
    text-align: center;
    color: $subdued;
    font-size: .9em;
  }
}
