//////////////////////////////////////////////////
// Footer
//////////////////////////////////////////////////

footer {
  max-width: $grid-max;
  margin: 0 auto;
  padding: $base-gutter;

  a {
    @extend %link;
  }

  .social {
    text-align: center;

    // Default social link styles
    li {
      display: inline-block;
      margin: 0 .5em;
      padding-left: $base-gutter;
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    // Individual icons
    .soundcloud {
      background-image: inline-image('svg/social-soundcloud.svg');
    }
    .youtube {
      background-image: inline-image('svg/social-youtube.svg');
    }
    .facebook {
      background-image: inline-image('svg/social-facebook.svg');
    }
    .twitter {
      background-image: inline-image('svg/social-twitter.svg');
    }
  }

  .copyright {
    text-align: center;
    color: $subdued;
    font-size: .9em;

    a {
      color: inherit;
      border-color: inherit;
      white-space: nowrap;
      font-size: .8em;
    }
  }
}
