// Page
//
// Styleguide: global.page
body {
  background: $bg;
  color: $text;
  padding-bottom: 30%;
  position: relative; // for the pseudo-element

  &:after {
    display: block;
    content: ' ';
    width: 100%;
    height: 0;
    padding-top: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: $z;
    background-image: url(../img/footer-bg__small.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include min-width($grid-max) {
    &:after {
      padding-top: 32%;
      background-image: url(../img/footer-bg.png);
    }
  }
}
