//////////////////////////////////////////////////
// Videos
//////////////////////////////////////////////////
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//////////////////////////////////////////////////
// Videos page
//////////////////////////////////////////////////

body.videos {
  text-align: center;

  h1 {
    font-size: 48px;

    @include min-width($big) {
      font-size: 64px;
    }
  }
}
