<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <h1 class="logo"><img src="/img/logo_el-flecha-negra.jpg" alt="El Flecha Negra"></h1>
    </header>
    <main>
      {{ content }}
    </main>
    <footer role="contentinfo">
      <ul class="social">
        <li><a href="https://soundcloud.com/el-flecha-negra">SoundCloud</a></li>
        <li><a href="https://www.youtube.com/channel/UCLTECXuyOGkztnAqIl7TKBA">YouTube</a></li>
        <li><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.facebook.com%2Fpages%2FEl-Flecha-Negra%2F1387897221512304&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHDYt-GHz0v97pSlUzQ9VoDqPBN3Q">Facebook</a></li>
        <li><a href="https://twitter.com/El_Flecha_Negra">Twitter</a></li>
      </ul>
      <p class="copyright">Copyright &#169; 2015 El Flecha Negra</p>
    </footer>
  </body>
</html>
